@import '../../style/partials/_variable';
@import '../../style/partials/_mixin';

.web_pages {
  & > .panel.left {
    width: 40%;
  }
  & > .panel.right {
    width: 60%;
  }
}

.web_pages panel-list {
  max-height: calc(100vh - #{$nav_height} - #{$page_title_heigth} - (#{$panel_gap} * 1.5) - ((#{$panel_row_height} * 2) + (#{$panel_gap}) * 4));
}
