<template>
  <require from="./web-pages.scss"></require>

    <!-- Title -->
    <h1 class="page_title">Pagine web</h1>

    <!-- Content wrapper -->
    <div class="content_wrapper web_pages">

      <!-- Left panel -->
      <div class="panel left">

        <!-- Panel label -->
        <div class="panel_row_text">
          <h2>Pagine web</h2>
        </div>

        <!-- Languages -->
        <div class="panel_row_text languages">
          <select>
            <option value="">${languages['1'].label}</option>
          </select>
        </div>
        <!-- end Languages -->

        <!-- List -->
        <panel-list type="1" selected.bind="selected"></panel-list>
      </div>
      <!-- end Left panel -->

      <!-- Right panel -->
      <div class="panel right">
        <div class="panel_row_text">
          <h2>Info</h2>
        </div>
        <info-panel selected.bind="selected"></info-panel>
      </div>
      <!-- Right panel -->

    </div> 
    <!-- end Content wrapper -->

</template>
