<template>
  <require from="./web-pages.scss"></require>
  <h1>Pagine web</h1>
  
    <!-- Content wrapper -->
    <div class="content_wrapper web_pages">
      <form-panel if.bind="editSelected" edit-selected.bind="editSelected" request.bind="request"></form-panel>

      <!-- Left panel -->
      <div if.bind="!editSelected" class="panel left">
        <h2>Pagine web</h2>

        <!-- Languages -->
        <select value.bind="settings.selectedLanguage" class="panel_row_text languages">
          <option repeat.for="lang of settings.data.languages" model.bind="lang.id">${lang.label}</option>
        </select>

        <panel-list type="1" parent="0" selected.bind="selected"></panel-list>
        
      </div>
      <!-- end Left panel -->

      <!-- Right panel -->
      <div if.bind="!editSelected" class="panel right">
        <h2>Info</h2>
        <info-panel selected.bind="selected" edit-selected.bind="editSelected" request.bind="request"></info-panel>
      </div>
      <!-- Right panel -->
      
    </div> 
    <!-- end Content wrapper -->

</template>
