<template>
    <require from="./layout.scss"></require>
    <h1>Layout</h1>
  
      <!-- Content wrapper -->
      <div class="content_wrapper layout">
  
        <!-- Left panel -->
        <div class="panel left">
          <h2>Modelli</h2>

          <!-- Languages -->
          <select value.bind="settings.selectedLanguage" class="panel_row_text languages">
            <option repeat.for="lang of settings.data.languages" model.bind="lang.id">${lang.label}</option>
          </select>
  
          <simple-list type="standardLayout" selected.bind="selectedTemplate"></simple-list>
  
          <!-- List footer -->
          <div class="list_footer">
            <button>
              <span class="create">Crea</span>
            </button>
            <button if.bind="selectedTemplate">
              <span class="create_child">Modifica</span>
            </button>
            <button if.bind="selectedTemplate">
              <span class="modify">Modifica</span>
            </button>
            <button if.bind="selectedTemplate">
              <span class="delete">Elimina</span>
            </button>
          </div>
  
        </div>
        <!-- end Left panel -->

        <!-- Center panel -->
        <div class="panel right">
          <h2>Fogli di stile</h2>
          <simple-list type="assetsCss" selected.bind="selectedStylesheet"></simple-list>

          <!-- List footer -->
          <div class="list_footer">
            <button>
              <span class="create">Crea</span>
            </button>
            <button if.bind="selectedStylesheet">
              <span class="modify">Modifica</span>
            </button>
            <button if.bind="selectedStylesheet">
              <span class="delete">Elimina</span>
            </button>
          </div>

        </div>
        <!-- end Center panel -->
  
        <!-- Right panel -->
        <div class="panel right">
          <h2>Javascript</h2>
          <simple-list type="assetsJs" selected.bind="selectedJavascript"></simple-list>
  
          <!-- List footer -->
          <div class="list_footer">
            <button>
              <span class="create">Crea</span>
            </button>
            <button if.bind="selectedJavascript">
              <span class="modify">Modifica</span>
            </button>
            <button if.bind="selectedJavascript">
              <span class="delete">Elimina</span>
            </button>
          </div>
  
        </div>
        <!-- end Right panel -->
  
      </div> 
      <!-- end Content wrapper -->
  
  </template>
