@import '../../../style/partials/_variable';
@import '../../../style/partials/_mixin';

header {
  height: $nav_height;
  display: flex;
  justify-content: space-between;

  .header_logo {
    width: $logo_width;
    height: 100%;
  }

  nav {
    ul {
      list-style: none;

      & > li {
        line-height: 2rem;
        display: inline-block;
        padding:0 1rem;
        border-radius: 0 0 $panel_border_radius $panel_border_radius;
        background: linear-gradient($color_panel_section 30%, $color_label_title_panel 70%);
        border: 1.5px solid rgba(255, 255, 255, 0.05);
        border-top: none;
        margin-left: $nav_items_margin;
        position: relative;

        & > a, & > span {
          font-family: $roboto_font;
          color: $color_text;
          cursor: pointer;
          text-decoration: none;
          font-size: $header_nav_font_size;
          text-transform: uppercase;
        }

        &:hover {
          background: linear-gradient(#028FCA 10%, #8dd1dc 90%);
          height: 2.25rem;

          & > a, & > span {
            display: inline-block;
            transform: translate(0, 0.15rem);
            color: $color_white_text;
          }
        }
      }
    }
  }
}
