@import '../../../style/partials/_variable';
@import '../../../style/partials/_mixin';

info-panel {
  height: 100%;
  overflow: auto;

  .panel_section {
    padding: $panel_gap;
    background-color: $color_panel_section;
    border-radius: $panel_border_radius;
    font-weight: 800;
    
    &:not(:last-child) {
      margin-bottom: $panel_gap;
    }
  
    h3 {
      font-family: $roboto_font;
      font-size: $h3_font_size;
      text-transform: uppercase;
      color: $color_background_panel;
      margin-bottom: $panel_gap;
      font-weight: 800;
    }
  
    & > ul {
      list-style: none;
      padding: $panel_gap;
  
        & > li {
        display: flex;
        list-style: none;
        height: $info_panel_row;
        line-height: $info_panel_row;
  
        &:not(:last-child) {
          margin-bottom: $panel_gap;
        }
  
        .title, .info, .comand {
          display: inline-block;
          padding: 0 $panel_gap;
        }
  
        .title {
          background-color: $color_label_title_panel;
          flex-basis: 30%;
          border-radius: $panel_border_radius;
          text-transform: uppercase;
          font-size: $h3_font_size;
          text-align: right;
          color: $color_title_info_panel;
        }
  
        .info {
          background-color: $color_label_panel;
          flex-basis: 70%;
          margin-left: $panel_gap;
          border-radius: $panel_border_radius;
          font-size: $font_size;
          font-weight: 500;
          display: flex;
          align-items: center;
          overflow: hidden;
          color: $color_text;
  
          &:not(.url) {
            text-transform: capitalize;
          }
        }
  
        /* Label */
        &.label { 
          height: $label_height;
          line-height: $label_height; 
          
          & > .info {
            padding: 0;
  
            input {
              padding-left: $panel_gap;
              font-family: $roboto_font_condensed;
              border-radius: $panel_border_radius;
              background-color: $color_label_panel;
              color: $color_text;
              font-weight: 800;
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
              cursor: pointer;
              
              &::placeholder {
                color: $color_text;
                text-decoration: underline;
                text-transform: capitalize;
              }
  
              &:active, &:focus {
                background-color: $color_white_text;
                color: $color_label_panel;
  
                &::placeholder {
                text-decoration: none;
                }
              }
            }
          }
        }
  
        /* Visibility */
        .visibility {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
      
          & > select {
            width: 100%;
            color: $color_text;
            font-size: $font_size;
            text-decoration: underline;
            text-transform: capitalize;
            @include select;
  
            &.visible {
              color: $color_visible;

              & > * {
                color: $color_text;
              }
            }
            &.invisible {
              color: $color_invisible;

              & > * {
                color: $color_text;
              }
            }
            &.disabled {
              color: $color_disabled;

              & > * {
                color: $color_text;
              }
            }
          }
  
          & > .square {
            height: 0.9rem;
            flex-basis: 0.9rem;
            text-align: right;
            border-radius: $panel_border_radius;
  
            &.visible {
              background-color:$color_visible;
            }
            &.invisible {
              background-color: $color_invisible;
            }
            &.disabled {
              background-color: $color_disabled;
            }
          }
        }
  
        /* Permissions */
        .permissions {
          display: flex;
          height: $info_panel_row;
          line-height: $info_panel_row;
          margin-left: $panel_gap;
  
          & > .permissions_item {
            background-color: $color_label_panel;
            border-radius: $panel_border_radius;
            margin-right: 2px;
            padding: 0 $panel_gap;
            display: flex;
            align-items: center;
            min-width: 4.5rem;
  
            & > label {
              font-family: $roboto_font_condensed;
              font-size: 0.65rem;
              font-weight: 500;
              margin-left: $panel_gap;
              cursor: pointer;
            }
          }
        }
  
        /* Comand */
        .comand {
          display: flex;
  
          & > button {
            @include button;
          }
        }
  
        /* Models */
        .models {
          width: 100%;
      
          & > select {
            width: 100%;
            color: $color_text;
            font-size: 1em;
            text-transform: capitalize;
            text-decoration: underline;
            @include select;
          }
        }
      }
    }
  }
}
