@import '../../style/partials/_variable';
@import '../../style/partials/_mixin';

.visitors {
  & > .panel.left {
    width: 35%;
  }
  & > .panel.right {
    width: 65%;
  }
}

.visitors panel-list {
  max-height: calc(100vh - #{$nav_height} - #{$page_title_heigth} - (#{$panel_gap} * 2) - ((#{$panel_row_height} * 1) + (#{$panel_gap}) * 4) - #{$panel_list_buttons});
}

.visitors panel-list.active {
  max-height: calc(100vh - #{$nav_height} - #{$page_title_heigth} - (#{$panel_gap} * 2) - ((#{$panel_row_height} * 1) + (#{$panel_gap}) * 4) - #{$panel_list_buttons_users});
}
