/* style/partials/_panel.scss */

.panel {
  background: $color_background_panel;
  border: $panel_gap solid $color_background_panel;
  border-radius: $container_border_radius;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$nav_height} - #{$page_title_heigth} - (#{$panel_gap} * 2));

  &.right {
    margin-left: $panel_gap;
  }

  & > h2 {
    background-color: $color_label_title_panel;
    border-radius: $panel_border_radius;
    padding:0 $panel_gap;
    height: $panel_row_height;
    line-height: $panel_row_height;
    font-family: $roboto_font;
    text-transform: uppercase;
    color: $color_white_text;
    font-size: $h2_font_size;
    margin-bottom: $panel_gap;
  }

  /* Languages */
  select {
    width: 100%;
    color: $color_text;
    font-size: $h2_font_size;
    @include select;

    &.languages, &.obj_groups_sel {
      background-color: $color_label_panel;
      margin-bottom: $panel_gap;
      border-radius: $panel_border_radius;
      padding:0 $panel_gap;
      height: $panel_row_height;
      line-height: $panel_row_height;
    }
  }

  /* List footer */
  .list_footer {
    background-color: $color_panel_section;
    border-radius: $panel_border_radius;
    padding:0 $panel_gap;
    height: $panel_list_buttons;
    line-height: $panel_list_buttons;
    margin-top: $panel_gap;
    display: flex;
    align-items: center;

    &.active {
      height: $panel_list_buttons_users;
      line-height: unset;
      padding: $panel_gap;

      .user_change {
        align-self: flex-start;
        margin-right: $panel_gap;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
      
        & > label {
          display: inline-block;
          margin-bottom: $panel_gap;
        }

        & > input {
          display: block;
          flex-grow: 0;
          width: 100%;
          margin-bottom: $panel_gap * 2;
        }

        .user_buttons {
          margin-top: auto;
          align-self: flex-start;
        }
      }

      & select {
        height: 100%;
        background-color: #272727;
        border-radius: $panel_border_radius;
        padding: $panel_gap;
        text-transform: capitalize;
        width: 10rem;
        overflow: auto;
      }
    }

    button:first-child {
      margin-right: auto;
    }

    button:last-child {
      margin-right: 0;
    }

    button {
      @include button;
    }

    input {
      flex-grow: 1;
      height: $info_panel_row;
      margin: 0 $panel_gap 0 0;
      border-radius: $panel_border_radius;
      background-color: #d9d9d9;
      padding:0 $panel_gap;
      font-family: $roboto_font;
      font-size: $font_size;
      font-weight: 500;
      color: $color_background_panel;
      border: none;
      outline: none;

      &:active, &:focus {
        flex-grow: 3;
        flex-shrink: 1;
      }

      &::placeholder {
        text-transform: lowercase;
        font-size: $font_size;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  /* Object groups */
  .obj_groups {
    list-style: none;

    & > li {
      background-color: $color_panel_section;
      border-radius: $panel_border_radius;
      height: 2.1rem;
      line-height: 2.1rem;
      margin-bottom: 0.13rem;
      text-decoration: none;
      font-family: $roboto_font;
      text-transform: capitalize;
      color: $color_text;
      font-size: $h3_font_size;
      display: flex; 
      overflow: hidden;
      cursor: pointer;

      .obj_group_id {
        background-color: $color_label_title_panel;
        width: 2.2rem;
        border-radius: 0 0.6rem 0 0;
        text-align: center;
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: rgba(200, 200, 200, 0.3);

        & > .obj_group_id {
          background-color:rgb(30, 30, 30, 0.3);
        }
      }
    }
  }
}

