/* style/partials/_panel.scss */

.panel {
  background: $color_background_panel;
  border: $panel_gap solid $color_background_panel;
  border-radius: $container_border_radius;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$nav_height} - #{$page_title_heigth} - (#{$panel_gap} * 1.5));

  &.right {
    margin-left: $panel_gap;
  }

  & > h2 {
    background-color: $color_label_title_panel;
    border-radius: $panel_border_radius;
    padding:0 $panel_gap;
    height: $panel_row_height;
    line-height: $panel_row_height;
    font-family: $roboto_font;
    text-transform: uppercase;
    color: $color_white_text;
    font-size: $h2_font_size;
    margin-bottom: $panel_gap;
  }

  /* Languages */
  select {
    width: 100%;
    color: $color_text;
    font-size: $h2_font_size;
    @include select;

    &.languages, &.obj_groups_sel {
      background-color: $color_label_panel;
      margin-bottom: $panel_gap;
      border-radius: $panel_border_radius;
      padding:0 $panel_gap;
      height: $panel_row_height;
      line-height: $panel_row_height;
    }
  }

  /* List footer */
  .list_footer {
    background-color: $color_panel_section;
    border-radius: $panel_border_radius;
    padding:0 $padding_row_buttons;
    height: $panel_list_buttons;
    line-height: $panel_list_buttons;
    margin-top: $panel_gap;
    display: flex;
    align-items: center;

    & > button:first-child {
      margin-right: auto;
    }

    & > button {
      @include button;
    }
  }

  /* Object groups */
  .obj_groups {
    list-style: none;

    & > li {
      background-color: $color_panel_section;
      border-radius: $panel_border_radius;
      height: 2.1rem;
      line-height: 2.1rem;
      margin-bottom: 0.13rem;
      text-decoration: none;
      font-family: $roboto_font;
      text-transform: capitalize;
      color: $color_text;
      font-size: $h3_font_size;
      display: flex; 
      overflow: hidden;
      cursor: pointer;

      .obj_group_id {
        background-color: $color_label_title_panel;
        width: 2.2rem;
        border-radius: 0 0.6rem 0 0;
        text-align: center;
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: rgba(200, 200, 200, 0.3);

        & > .obj_group_id {
          background-color:rgb(30, 30, 30, 0.3);
        }
      }
    }
  }
}

