/* style/partials/_variable */

/* Fonts */
$roboto_font_condensed: 'Roboto Condensed', sans-serif;
$roboto_font: 'Roboto', sans-serif;

/* Colors */
$color_white_text: #fEfEfE;
$color_border_auth: #121212;
$color_bg_auth: #181818;
$color_gradient_bg_1: #0d0d0d;
$color_gradient_bg_2: #1F1F1F;
$color_page_title: #7FCDEE;
$color_input_auth: #C0C0C0;
$color_text: #BFBFBF;
$color_home: #3D3D3D;
$color_background_panel: #202020;
$color_label_title_panel: #303030;
$color_label_panel: #505050;
$color_panel_section: #404040;
$color_table_row_light:#F9F9F9;
$color_table_row_selected: #7BCAEB;
$outline_button_auth: #028FCA;
$color_active: #97BF0D;
$color_inactive: #E66C00;
$color_obj_groups_records: #BDCD86;
$color_td_parent:rgb(164, 164, 164, 0.8);

/* Header */
$nav_height: 3em;

/* Panel */
$panel_gap: 0.4em;
$panel_row_height: 2em;
$panel_row_mb: 0.4em;

/* Content */
$page_title_heigth: 3em;
