<template>
  <require from="./editors.scss"></require>
  <h1>Redattori</h1>

    <!-- Content wrapper -->
    <div class="content_wrapper editors">

      <!-- Left panel -->
      <div class="panel left">
        <h2>Gruppi</h2>
          
        <simple-list type="standardEditors" selected.bind="selectedEditorsGroup"></simple-list>

        <!-- List footer -->
        <div class="list_footer">
          <button>
            <span class="create">Crea</span>
          </button>
          <button if.bind="selectedEditorsGroup">
            <span class="modify">Modifica</span>
          </button>
          <button if.bind="selectedEditorsGroup">
            <span class="delete">Elimina</span>
          </button>
        </div>

      </div>
      <!-- end Left panel -->

      <!-- Right panel -->
      <div class="panel right">
        <h2>Utenti</h2>
        <simple-list type="usersEdi" selected.bind="selectedUser"></simple-list>
      
        <!-- List footer -->
        <div class="list_footer">
          <button>
            <span class="create">Crea</span>
          </button>
          <button if.bind="selectedUser">
            <span class="modify">Modifica</span>
          </button>
          <button if.bind="selectedUser">
            <span class="delete">Elimina</span>
          </button>
        </div>

      </div>
      <!-- Right panel -->

    </div> 
    <!-- end Content wrapper -->

</template>
