@import '../../style/partials/_variable';
@import '../../style/partials/_mixin';

.editors {
  & > .panel.left {
    width: 40%;
  }
  & > .panel.right {
    width: 60%;
  }
}

.editors simple-list {
  max-height: calc(100vh - #{$nav_height} - #{$page_title_heigth} - (#{$panel_gap} * 2) - ((#{$panel_row_height} * 1) + (#{$panel_gap}) * 4) - #{$panel_list_buttons});
}
