<template>
  <require from="./groups-objects.scss"></require>
  <h1>Gruppi di oggetti</h1>

    <!-- Content wrapper -->
    <div class="content_wrapper groups_objects">

      <!-- Left panel -->
      <div class="panel left">
        <h2>Lista</h2>

        <!-- Languages -->
        <select value.bind="settings.selectedLanguage" class="panel_row_text languages">
          <option repeat.for="lang of settings.data.languages" model.bind="lang.id">${lang.label}</option>
        </select>
      
        <panel-list type="2" selected.bind="selected"></panel-list>
        
        <!-- List footer -->
        <div class="list_footer">
          <button>
            <span class="create">Crea</span>
          </button>
        </div>

      </div>
      <!-- end Left panel -->

      <!-- Right panel -->
      <div class="panel right">
        <h2>Info</h2>
        <info-panel selected.bind="selected"></info-panel>
      </div>
      <!-- end Right panel -->

    </div> 
    <!-- end Content wrapper -->

</template>
